body{
    text-align: center;
}

div{
    height: 100px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 700px;
    height: 300px;
    display: flex;
    
    /* Fit in the container and the direction will be reversed */
    
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* Fit in the container and the direction will not be reversed */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    justify-content: center;
    /* justify-content: space-around; */
    /* justify-content: baseline; */
    /* justify-content: space-evenly; */

    /* flex-wrap: wrap; */
    /* align-items: center; */
    align-items: flex-start;
    /* align-content: center; */
    /* align-content: flex-start; */
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: pink;
    height: 200px;
    /* align-self: flex-end; */
    /* flex-shrink: 2; */
    flex-grow: 1;
}

#box3{
    background-color: darkkhaki;
    height: 75px;
}

#box4{
    background-color: indianred;
}

#box5{
    background-color: slateblue;
}