div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    position: absolute;
    left: 100px;
    top: 100px;
    transform: rotate(45deg);
    transition: all 2s ease-in 1s;
}

div:hover{
    background-color: red;
    color: white;
    font-size: 20px;
    /* transform: scale(1,2); */
    /* transform: translate(200px, 200px); */
    transform: skew(30deg);
}